aside {
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
    display: block;
    overflow: scroll;
    opacity: 1;
    transition: opacity 0.5s linear;
    border-right: 1px solid rgb(215, 215, 215);
}

#aside-hide-button {
    padding: 6px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    cursor: pointer;
}

aside.hide {
    opacity: 0;
}

article {
    margin-left: 200px;
}

aside nav {
    margin: 10px 5px 20px 5px;
}

nav a {
    color: rgb(37, 58, 134);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: rgb(37, 58, 134);
    text-decoration: underline;
    cursor: pointer;
}

.highlight{
    background-color:yellow
}