
aside p {
    overflow:auto;
    margin: 10px 5px 0px 5px;
}

aside p a{
    color: black;
    text-decoration: none;
}

aside p a:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

aside p b{
    color: black;
    text-decoration: none;
}

.aside-h1{
    margin-left: 5px;
}
.aside-h2{
    margin-left: 15px;

}
.aside-h3{
    margin-left: 25px;
}
.aside-h4{
    margin-left: 35px;
}
.aside-h5{
    margin-left: 45px;
}
.aside-h6{
    margin-left: 55px;
}