cite {
    background-color: rgba(195, 248, 255, 0.8);
}


cite:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cited {
    background-color: rgba(0, 200, 255, 0.1);
    margin: 10px 15px 10px 15px;
    padding: 1px 15px 10px 15px;
}

.cited-iframe {
    border: 5px solid rgba(57, 189, 226, 0.547);
}