cite {
    background-color: rgb(195, 248, 255);
}

cite:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cited-scope {
    background-color: rgba(0, 200, 255, 0.1);
    margin: 10px 15px 10px 15px;
    padding: 1px 15px 10px 15px;
}

/* .cited-scope-headline {
    background-color: rgb(135, 233, 255);
    width: 100%;
    height: 5px
}

.cited-scope-tailline {
    background-color: rgb(135, 233, 255);
    width: 100%;
    height: 5px
} */